[submodule "crawler"]
	path = crawler
	url = git@github.com:Handy-Search/crawler.git
[submodule "indexer"]
	path = indexer
	url = git@github.com:Handy-Search/indexer.git
[submodule "pagerank"]
	path = pagerank
	url = git@github.com:Handy-Search/pagerank.git
[submodule "interfaces"]
	path = interfaces
	url = git@github.com:Handy-Search/interfaces.git
[submodule "handy-search"]
	path = handy-search
	url = git@github.com:Handy-Search/handy-search.git
